@font-face {
  font-family: Inter-var;
  src: url(assets/Inter.var.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Inter-bold;
  src: url(assets/Inter-Bold.woff);
  font-weight: 800;
}
body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: Inter-var;
}
